<div class="accordion-item" data-image-src="{{ image_input | image_url: width: 600 }}">
    <div class="accordion-header">
        <h3 class="h3">{{  title }}</h3>
        <span class="accordion-icon">
            <svg class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
        </span>
    </div>
    {% if snippet_faq == true %}
        <div class="accordion-content">
            {{ content | metafield_tag }}
        </div>
    {% else %}
        <div class="accordion-content">
            <p>{{  content }}</p>
        </div>
    {% endif %}
</div>